.card {
    padding: 30px;
    border: solid 2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 315px;
    box-sizing: border-box;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: calc(150px / 2);
    border-style: none;
}

.resume {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Source Sans 3', sans-serif;
    color: rgba(102, 102, 102, 1);
}

.name {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    font-family: 'Source Sans 3', sans-serif;
    color: rgba(70, 69, 71, 1);
}

.company {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-family: 'Source Sans 3', sans-serif;
    color: rgba(70, 69, 71, 1);
}